body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.time{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.time span{
    color: #1D8CB3;
    font-family: 'Stoke', serif;
    font-size: 75px;
    letter-spacing: 10px;
}
.session{
    margin-left: 30px;
}